---
layout: base
---
<article class="post">

  <!--<header class="post-header">-->
    <h1 class="post-title" style="display: inline;">{{ page.title | escape }}</h1>
  <!--</header>-->
<br/><br/>
  <div class="post-content">
    {{ content }}

    <!--collapsible JS-->
     <script>

//     code for button function
         var coll = document.getElementsByClassName("collapsible");
         var i;

         for (i = 0; i < coll.length; i++) {
             coll[i].addEventListener("click", function() {
                 this.classList.toggle("active");
                 var content = this.nextElementSibling;
                 if (content.style.display === "block") {
                     content.style.display = "none";
                 } else {
                     content.style.display = "block";
                 }
             });
         }

//     code for button function on hyperlink click
        var navLink = document.getElementsByClassName("smoothscroll");

        for (i = 0; i < navLink.length; i++) {
        navLink[i].addEventListener("click", function() {
          var link = this.dataset.link;
          var sectionId = document.getElementById(link);

          var divToOpen = sectionId.querySelector(".collapsible");

          divToOpen.classList.toggle("active");
          var content = divToOpen.nextElementSibling;
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
        }

//     code for button activation on url visit
       var currURL = window.location.href;
       function codeAddress() {
         const tag = currURL.slice(currURL.indexOf('#')+1);
         var link = tag;
         var sectionId = document.getElementById(link);
         var divToOpen = sectionId.querySelector(".collapsible");
         divToOpen.classList.toggle("active");

         var content = divToOpen.nextElementSibling;
         content.style.display = "block";
       }
      window.onload = codeAddress;

     </script>
     <!--collapsible JS end-->
  </div>

</article>
